.header{
  background-color: $color_bg_page;
  width: 100%;
  height: 82px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  .content-header{
    width: 1020px;
    // margin-left:auto;
    // margin-right:auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
  .logo{
    margin-left: 5%;
  }
  .login-register{
    margin-right: 5%;
  }
  .form-search{
    width: 300px;
    form{
      width: 100%;
      position: relative;
      input{
        color: white;
    padding-left: 20px;
    padding-right: 40px;
        width: 100%;
        height: 28px;
        border-radius: 12px;
        background-color: $color_bg_page;
        border: 1px solid rgb(70,70,70);
        outline: none;
        box-shadow: 1px 1px 1px 1px #171515, inset 2px 2px 2px #171515;
      }
      button{
        position: absolute;
        top: 5px;
        right: -57px;
        border: none;
        background-color: $color_bg_page;
        cursor: pointer;
        outline: none;
      }
    }
  }
  .login-register{
    font-size: 11px;
    color: rgb(141,141,141);
  }
}
}