.main-content {
  padding: 20px 0px 20px 0px;
  width: 1040px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  .content-1 {
    display: flex;
    justify-content: space-between;
    .content-1-1 {

      h2 {
        margin: 0 0 14px 0;
        text-shadow: 1px 1px 1px white;
        font-size: 20px;
        font-weight: 300;

        a {
          color: rgb(99,99,99);
        }
      }
      .day-1 {
        display: flex;
        justify-content: flex-start;

        .day {
          width: 56px;
          height: 70px;
          padding: 28px 28px 14px 28px;
          background-color: $color_bg_page;
          text-align: center;
          div:first-child {
            font-size: 52px;
            color: $color_text;
            line-height: 52px;
          }
          div:last-child {
            font-size: 20px;
            color: rgb(76, 76, 76)
          }
        }
        .day:nth-child(2) {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
    .content-1-2 {
      h2 {
        margin: 0 0 14px 0;
        font-size: 20px;
        font-weight: 300;
        text-shadow: 1px 1px 1px white;
        a {
          color: rgb(99,99,99);
        }
      }
      .item-service {
        display: flex;
        justify-content: space-between;
        width: 584px;
        .item {
          position: relative;
          background-color: $color_bg_page;
          padding: 8px;
          width: 168px;
          height: 96px;
          .img_item {
            position: absolute;
            top: 15px;
            right: 15px;
          }
          .logo {
            // margin-bottom: 13px;
          }
          span {
            font-size: 52px;
            line-height: 52px;
            color: #383838;
          }
          .type-connect {
            
            display: flex;
            justify-content: space-around;
            align-items: center;
            div {
              padding: 5px;
              color: #ffffff;
              font-size: 12px;
            }
            div:nth-child(1) {
              background-color: rgb(249, 147, 101);
            }
            div:nth-child(2) {
              background-color: rgb(254, 195, 119);
            }
            div:nth-child(3) {
              background-color: rgb(187, 134, 134);
            }
          }
        }
      }
    }
  }
  .hot-week, .film-free {
    margin-top: 35px;
    .title-category-home {
      margin-bottom: 12px;
      a {
        color: rgb(99, 99, 99);
        text-shadow: 1px 1px 1px white;
        h2 {
          margin: 0;
          font-size: 20px;
          font-weight: 300;
        }
      }
    }
    .list-item {
      .list-item-group,.list-item-group-1,.list-item-group-2 {
        display: flex;
        justify-content: space-between;
        .item {
          width: 188px;
          margin-right:20px;
          .thumbnail-item {
            a {
              line-height: 0;
              display: block;
              position:relative;
              .number-top{
                position: absolute;
                top:0;
                left:0;
                .number-1{
                  position: relative;
                  label{
                    position: absolute;
                    top: 22px;
                    /* left: 2px; */
                    font-size: 20px;
                    font-weight: 600;
                    color: white;
                    width: 100%;
                    text-align: center;
                  }
                }
              }
              img {
                width: 100%;
              }
            }
          }
          .detail-item {
            padding: 12px;
            background-color: white;
            .title-item {
              a {

                h3 {
                  font-size: 15px;
                  margin: 0;
                 font-weight: 400;
                  color: rgb(51, 51, 51);
                }
              }
            }
            .views-count {
              margin-top: 8px;
              margin-bottom: 8px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              .icon-item {
                width: 18px;
                margin-right: 7px;
                img {

                  display: block;
                  margin-right: auto;
                  margin-left: auto;
                }
              }
              span {
                font-size: 11px;
                font-weight: 300;
              }
            }
            .comment-count {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              .icon-item {
                width: 18px;
                margin-right: 7px;
                img {
                  display: block;
                  margin-right: auto;
                  margin-left: auto;
                }
              }
              span {
                font-size: 11px;
                font-weight: 300;
              }
            }
          }
        }
      }
    }
    .slick-dots {
      top: -34px;
      right: 1px;
      position: absolute;
      bottom: unset;
      display: block;
      width: auto;
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;
      li {
        button::before {
          opacity: 1;
          font-size: 0;
          background: url("../images/icon/icon_page.png") no-repeat 4px 4px;

        }
      }
      .slick-active {
        button::before {
          background: url("../images/icon/icon_page_active.png") no-repeat 4px 4px;
        }
      }
    }

  }
  .category-film-3 {
    margin-top: 35px;
    .title-category-home {
      margin-bottom: 12px;
      a {
        color: rgb(99, 99, 99);
        text-shadow: 1px 1px 1px white;
        h2 {
          margin: 0;
          font-size: 20px;
          font-weight: 300;
        }
      }
    }
    .list-item-film-3, .list-item-film-3-2 {
      // .slick-dots {
      //   transform: rotate(90deg);
      //   width: 177px;
      //   bottom: 122px;
      //   right: -47px;
      //   li {
      //     button::before {
      //       font-size: 0;
      //       background: url("../images/icon/icon_page.png") no-repeat 4px 4px;

      //     }
      //   }
      //   .slick-active {
      //     button::before {
      //       background: url("../images/icon/icon_page_active.png") no-repeat 4px 4px;
      //     }
      //   }
      // }
      .list-item-group {
        display: flex;
        justify-content: flex-start;
        .item-1 {
          width: 477px;
          margin-right: 20px;
          .des-item {
            display: block;
            line-height: 0;
            position: relative;
            .views-count {
              position: absolute;
              top: 4px;
              right: 8px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              img {
                margin-right: 5px;
              }
              span {
                font-size: 11px;
                color: white;
              }
            }
            .detail-item {
              position: absolute;
              left: 33px;
              bottom: 18px;
              h3 {
                color: white;
                margin: 0;
                font-size: 20px;
                font-family: Arial;
                line-height: 20px;
                text-shadow: 1px 1px 1px white;
              }

              span {
                font-size: 11px;
                font-family: "Myriad Pro";
                color: white;
                line-height: 20px;
              }
              .rate-start {
                display: flex;
                justify-content: flex-start;
                i {
                  margin-right: 6px;
                }
              }
            }
          }

        }
        .item-4,.item-4-2 {
          width: 460px;
          .item-group-4{

          .item-4-row {
            display: flex;
            justify-content: space-between;

            .item {
              width: 220px;
              a {
                display: block;
                position: relative;
                line-height: 0;
                .description-item-4 {
                  position: absolute;
                  bottom: 0;
                  padding: 10px 10px 5px 10px;
                  width: calc(100% - 20px);
                  right: 0;
                  background-color: rgba(0, 0, 0, 0.4);
                  display: flex;
                  justify-content: space-between;
                  .description-item-4-1 {
                    h3 {
                      font-size: 13px;
                      color: white;
                      margin: 0;
                      padding-top: 7px;
                      padding-bottom: 7px;
                    }
                    p {
                      color: white;
                      font-size: 11px;
                    }
                  }
                  .description-item-4-2 {
                    margin-top: -5px;
                    p {
                      font-size: 10px;
                      color: white;
                    }
                    .rate-start {
                      display: flex;
                      justify-content: flex-start;
                      i {
                        margin-right: 6px;
                      }
                    }
                  }
                }

              }
            }
          }
        
          .item-4-row:first-child {
            margin-bottom: 20px;
          }
        }
        .slick-dots {
          transform: rotate(90deg);
          width: 177px;
          bottom: 122px;
          right: -126px;
          li {
            button::before {
              opacity: 1;
              font-size: 0;
              background: url("../images/icon/icon_page.png") no-repeat 4px 4px;
  
            }
          }
          .slick-active {
            button::before {
              opacity: 1;
              background: url("../images/icon/icon_page_active.png") no-repeat 4px 4px;
            }
          }
        }
        }
      }
    }
  }
  .category-other {
    margin-top: 35px;
    .title-category-home {
      margin-bottom: 12px;
      a {
        color: rgb(99, 99, 99);
        text-shadow: 1px 1px 1px white;
        h2 {
          margin: 0;
          font-size: 20px;
          font-weight: 300;
        }
      }
    }
    .list-item-cate-other {
      display: flex;
      justify-content: space-between;
      .item {
        a {
          display: block;
          position: relative;
          .count-views-cate-other {
            position: absolute;
            top: 3px;
            right: 10px;
            display: flex;
            align-items: center;
            span {
              font-family: Arial, Helvetica, sans-serif;
              font-size: 11px;
              color: white;
            }
            img {
              margin-right: 5px;
              height: 17px;
            }
          }
          .desciption-item {
            position: absolute;
            left: 13px;
            bottom: 9px;
            color: white;
            h3 {
              margin: 0;
              line-height: 16px;
              font-family: Arial;
              font-size: 17px;
            }
            span {
              font-size: 11px;
            }
            .rate-start {
              margin-top: 1px;

            }

          }
        }
      }
    }
  }

}